@mixin circle {
    &:before{
        content: '';
        width: 430px;
        height: 430px;
        border-radius: 100%;
        background: $main-color; 
        position: absolute;
        z-index: -1;
        top: -30%;
        left: -260px;
    }
}