.certificates {
    &__wrapper {
        padding: 50px;
        display: flex;
        justify-content:center;
        align-items: center;
        .slideshow {
            &__item {
                text-align: center;
                padding: 0px 15px;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}
.slick-slider{
	min-width: 0;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}

@media (max-width:767px){
	.wrapper{
        padding: 50px 10px;
    }
    .slider {
		padding: 0px 40px;
	}
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .certificates {
        &__wrapper {
            .slideshow {
                &__item {
                    padding: 0px;
                }
            }
        }
    }
}
