
.navbar {
    border: 1px solid cornflowerblue;
    padding-top: 5px;
    width: 100%;
    position: fixed;;
    z-index: 2;
    img {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
    &__wrapper {
       width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-around;
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }
    &_link {
        width:100%;
        display: block;
        margin-right: 40px;
        text-decoration: none;
        color: rgba(84, 128, 136, 1);
        font-size: 20px;
        
    }
    
}
