.slider {
    &__carousel {
        margin-bottom: 60px;
        min-height: 700px;
        object-fit: cover;
    }
    img {
        object-fit: fill;
        height: 700px;
    }
}


@media (max-width: 320px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .slider {
        display: none;
        &__carousel {
            min-height: fit-content;
            margin-bottom: 60px;
        }
        img {
            height: 300px;
        }
    }
    
}